.aa--l-pm,
.aa--r-pm,
.aa--m-pm {
    font-feature-settings: "palt";
}

.aa--jw-aki::after {
    font-size: calc(25% / 0.224);
    vertical-align: top;
    content: " ";
}

.aa--lr-pm-aki::after {
    font-size: calc(50% / 0.224);
    vertical-align: top;
    content: " ";
}

.aa--m-pm-aki::after {
    font-size: calc(25% / 0.224);
    vertical-align: top;
    content: " ";
}

.aa--d-pm-aki::after {
    font-size: calc(100% / 0.224);
    vertical-align: top;
    content: " ";
}
