.adjust-aki-yakumono {
    font-feature-settings: "palt" 1;
}

.adjust-aki-mixed-aki::after {
    font-size: 100%;
    vertical-align: top;
    content: " ";
}

.adjust-aki-aki-1::after {
    font-size: 400%;
    vertical-align: top;
    content: " ";
}

.adjust-aki-aki-2::after {
    font-size: 200%;
    vertical-align: top;
    content: " ";
}

.adjust-aki-aki-3::after {
    font-size: 150%;
    vertical-align: top;
    content: " ";
}

.adjust-aki-aki-4::after {
    font-size: 100%;
    vertical-align: top;
    content: " ";
}

.adjust-aki-aki-6::after {
    font-size: 75%;
    vertical-align: top;
    content: " ";
}

.adjust-aki-aki-8::after {
    font-size: 50%;
    vertical-align: top;
    content: " ";
}
