/* Tonal Palettes */
$color-source: #2a83a2;
$color-primary0: #000000;
$color-primary4: #001018;
$color-primary5: #00131b;
$color-primary6: #00161e;
$color-primary10: #001f29;
$color-primary12: #00232f;
$color-primary17: #002e3d;
$color-primary20: #003545;
$color-primary22: #003a4b;
$color-primary24: #003f51;
$color-primary25: #004154;
$color-primary30: #004d63;
$color-primary35: #005a73;
$color-primary40: #006783;
$color-primary50: #0081a4;
$color-primary60: #019dc6;
$color-primary70: #3eb8e2;
$color-primary80: #62d4ff;
$color-primary87: #a5e3ff;
$color-primary90: #bce9ff;
$color-primary92: #caeeff;
$color-primary94: #d8f2ff;
$color-primary95: #dff4ff;
$color-primary96: #e6f6ff;
$color-primary98: #f3faff;
$color-primary99: #fafcff;
$color-primary100: #ffffff;
$color-secondary0: #000000;
$color-secondary4: #001018;
$color-secondary5: #00131b;
$color-secondary6: #01161e;
$color-secondary10: #081e27;
$color-secondary12: #0c222b;
$color-secondary17: #182d36;
$color-secondary20: #1e333c;
$color-secondary22: #233841;
$color-secondary24: #273c45;
$color-secondary25: #2a3e47;
$color-secondary30: #354a53;
$color-secondary35: #41555f;
$color-secondary40: #4d616b;
$color-secondary50: #657a85;
$color-secondary60: #7e949f;
$color-secondary70: #99afba;
$color-secondary80: #b4cad5;
$color-secondary87: #c7dde9;
$color-secondary90: #d0e6f2;
$color-secondary92: #d5ecf8;
$color-secondary94: #dbf1fd;
$color-secondary95: #dff4ff;
$color-secondary96: #e6f6ff;
$color-secondary98: #f3faff;
$color-secondary99: #fafcff;
$color-secondary100: #ffffff;
$color-tertiary0: #000000;
$color-tertiary4: #0b0a29;
$color-tertiary5: #0e0d2b;
$color-tertiary6: #100f2e;
$color-tertiary10: #191836;
$color-tertiary12: #1d1c3b;
$color-tertiary17: #272746;
$color-tertiary20: #2e2d4d;
$color-tertiary22: #323151;
$color-tertiary24: #373656;
$color-tertiary25: #393858;
$color-tertiary30: #444364;
$color-tertiary35: #504f71;
$color-tertiary40: #5c5b7d;
$color-tertiary50: #757497;
$color-tertiary60: #8f8db2;
$color-tertiary70: #aaa7ce;
$color-tertiary80: #c5c3ea;
$color-tertiary87: #d9d6ff;
$color-tertiary90: #e2dfff;
$color-tertiary92: #e9e5ff;
$color-tertiary94: #efebff;
$color-tertiary95: #f2efff;
$color-tertiary96: #f5f2ff;
$color-tertiary98: #fcf8ff;
$color-tertiary99: #fffbff;
$color-tertiary100: #ffffff;
$color-neutral0: #000000;
$color-neutral4: #0c0f10;
$color-neutral5: #0e1113;
$color-neutral6: #111415;
$color-neutral10: #191c1e;
$color-neutral12: #1d2022;
$color-neutral17: #272a2c;
$color-neutral20: #2e3132;
$color-neutral22: #323537;
$color-neutral24: #373a3b;
$color-neutral25: #393c3d;
$color-neutral30: #444749;
$color-neutral35: #505354;
$color-neutral40: #5c5f60;
$color-neutral50: #757779;
$color-neutral60: #8f9193;
$color-neutral70: #a9abad;
$color-neutral80: #c5c7c8;
$color-neutral87: #d9dadc;
$color-neutral90: #e1e2e4;
$color-neutral92: #e7e8ea;
$color-neutral94: #edeef0;
$color-neutral95: #eff1f3;
$color-neutral96: #f2f4f5;
$color-neutral98: #f8f9fb;
$color-neutral99: #fbfcfe;
$color-neutral100: #ffffff;
$color-neutral-variant0: #000000;
$color-neutral-variant4: #080f13;
$color-neutral-variant5: #0a1216;
$color-neutral-variant6: #0d1418;
$color-neutral-variant10: #151d20;
$color-neutral-variant12: #192124;
$color-neutral-variant17: #232b2f;
$color-neutral-variant20: #2a3235;
$color-neutral-variant22: #2e363a;
$color-neutral-variant24: #333a3e;
$color-neutral-variant25: #353d41;
$color-neutral-variant30: #40484c;
$color-neutral-variant35: #4c5458;
$color-neutral-variant40: #586064;
$color-neutral-variant50: #70787d;
$color-neutral-variant60: #8a9296;
$color-neutral-variant70: #a4acb1;
$color-neutral-variant80: #c0c8cc;
$color-neutral-variant87: #d3dbe0;
$color-neutral-variant90: #dce4e9;
$color-neutral-variant92: #e1e9ee;
$color-neutral-variant94: #e7eff4;
$color-neutral-variant95: #eaf2f7;
$color-neutral-variant96: #edf5fa;
$color-neutral-variant98: #f3faff;
$color-neutral-variant99: #fafcff;
$color-neutral-variant100: #ffffff;
$color-error0: #000000;
$color-error4: #280001;
$color-error5: #2d0001;
$color-error6: #310001;
$color-error10: #410002;
$color-error12: #490002;
$color-error17: #5c0004;
$color-error20: #690005;
$color-error22: #710005;
$color-error24: #790006;
$color-error25: #7e0007;
$color-error30: #93000a;
$color-error35: #a80710;
$color-error40: #ba1a1a;
$color-error50: #de3730;
$color-error60: #ff5449;
$color-error70: #ff897d;
$color-error80: #ffb4ab;
$color-error87: #ffcfc9;
$color-error90: #ffdad6;
$color-error92: #ffe2de;
$color-error94: #ffe9e6;
$color-error95: #ffedea;
$color-error96: #fff0ee;
$color-error98: #fff8f7;
$color-error99: #fffbff;
$color-error100: #ffffff;

/* Light Theme */
$color-primary-light: $color-primary40;
$color-on-primary-light: $color-primary100;
$color-primary-container-light: $color-primary90;
$color-on-primary-container-light: $color-primary10;
$color-primary-fixed-light: $color-primary90;
$color-on-primary-fixed-light: $color-primary10;
$color-primary-fixed-dim-light: $color-primary80;
$color-on-primary-fixed-variant-light: $color-primary30;
$color-secondary-light: $color-secondary40;
$color-on-secondary-light: $color-secondary100;
$color-secondary-container-light: $color-secondary90;
$color-on-secondary-container-light: $color-secondary10;
$color-secondary-fixed-light: $color-secondary90;
$color-on-secondary-fixed-light: $color-secondary10;
$color-secondary-fixed-dim-light: $color-secondary80;
$color-on-secondary-fixed-variant-light: $color-secondary30;
$color-tertiary-light: $color-tertiary40;
$color-on-tertiary-light: $color-tertiary100;
$color-tertiary-container-light: $color-tertiary90;
$color-on-tertiary-container-light: $color-tertiary10;
$color-tertiary-fixed-light: $color-tertiary90;
$color-on-tertiary-fixed-light: $color-tertiary10;
$color-tertiary-fixed-dim-light: $color-tertiary80;
$color-on-tertiary-fixed-variant-light: $color-tertiary30;
$color-error-light: $color-error40;
$color-error-container-light: $color-error90;
$color-on-error-light: $color-error100;
$color-on-error-container-light: $color-error10;
$color-background-light: $color-neutral98;
$color-on-background-light: $color-neutral10;
$color-outline-light: $color-neutral-variant50;
$color-inverse-on-surface-light: $color-neutral95;
$color-inverse-surface-light: $color-neutral20;
$color-inverse-primary-light: $color-primary80;
$color-shadow-light: $color-neutral-variant0;
$color-surface-tint-light: $color-primary40;
$color-outline-variant-light: $color-neutral-variant80;
$color-scrim-light: $color-neutral-variant0;
$color-surface-light: $color-neutral98;
$color-on-surface-light: $color-neutral10;
$color-surface-variant-light: $color-neutral-variant90;
$color-on-surface-variant-light: $color-neutral-variant30;
$color-surface-container-highest-light: $color-neutral90;
$color-surface-container-high-light: $color-neutral92;
$color-surface-container-light: $color-neutral94;
$color-surface-container-low-light: $color-neutral96;
$color-surface-container-lowest-light: $color-neutral100;
$color-surface-dim-light: $color-neutral87;
$color-surface-bright-light: $color-neutral98;

/* Dark Theme */
$color-primary-dark: $color-primary80;
$color-on-primary-dark: $color-primary20;
$color-primary-container-dark: $color-primary30;
$color-on-primary-container-dark: $color-primary90;
$color-primary-fixed-dark: $color-primary90;
$color-on-primary-fixed-dark: $color-primary10;
$color-primary-fixed-dim-dark: $color-primary80;
$color-on-primary-fixed-variant-dark: $color-primary30;
$color-secondary-dark: $color-secondary80;
$color-on-secondary-dark: $color-secondary20;
$color-secondary-container-dark: $color-secondary30;
$color-on-secondary-container-dark: $color-secondary90;
$color-secondary-fixed-dark: $color-secondary90;
$color-on-secondary-fixed-dark: $color-secondary10;
$color-secondary-fixed-dim-dark: $color-secondary80;
$color-on-secondary-fixed-variant-dark: $color-secondary30;
$color-tertiary-dark: $color-tertiary80;
$color-on-tertiary-dark: $color-tertiary20;
$color-tertiary-container-dark: $color-tertiary30;
$color-on-tertiary-container-dark: $color-tertiary90;
$color-tertiary-fixed-dark: $color-tertiary90;
$color-on-tertiary-fixed-dark: $color-tertiary10;
$color-tertiary-fixed-dim-dark: $color-tertiary80;
$color-on-tertiary-fixed-variant-dark: $color-tertiary30;
$color-error-dark: $color-error80;
$color-error-container-dark: $color-error30;
$color-on-error-dark: $color-error20;
$color-on-error-container-dark: $color-error90;
$color-background-dark: $color-neutral6;
$color-on-background-dark: $color-neutral90;
$color-outline-dark: $color-neutral-variant60;
$color-inverse-on-surface-dark: $color-neutral10;
$color-inverse-surface-dark: $color-neutral90;
$color-inverse-primary-dark: $color-primary40;
$color-shadow-dark: $color-neutral-variant0;
$color-surface-tint-dark: $color-primary80;
$color-outline-variant-dark: $color-neutral-variant30;
$color-scrim-dark: $color-neutral-variant0;
$color-surface-dark: $color-neutral6;
$color-on-surface-dark: $color-neutral80;
$color-surface-variant-dark: $color-neutral-variant30;
$color-on-surface-variant-dark: $color-neutral-variant80;
$color-surface-container-highest-dark: $color-neutral22;
$color-surface-container-high-dark: $color-neutral17;
$color-surface-container-dark: $color-neutral12;
$color-surface-container-low-dark: $color-neutral10;
$color-surface-container-lowest-dark: $color-neutral4;
$color-surface-dim-dark: $color-neutral6;
$color-surface-bright-dark: $color-neutral24;

/* Default Theme */
$color-primary: $color-primary-light;
$color-on-primary: $color-on-primary-light;
$color-primary-container: $color-primary-container-light;
$color-on-primary-container: $color-on-primary-container-light;
$color-primary-fixed: $color-primary-fixed-light;
$color-on-primary-fixed: $color-on-primary-fixed-light;
$color-primary-fixed-dim: $color-primary-fixed-dim-light;
$color-on-primary-fixed-variant: $color-on-primary-fixed-variant-light;
$color-secondary: $color-secondary-light;
$color-on-secondary: $color-on-secondary-light;
$color-secondary-container: $color-secondary-container-light;
$color-on-secondary-container: $color-on-secondary-container-light;
$color-secondary-fixed: $color-secondary-fixed-light;
$color-on-secondary-fixed: $color-on-secondary-fixed-light;
$color-secondary-fixed-dim: $color-secondary-fixed-dim-light;
$color-on-secondary-fixed-variant: $color-on-secondary-fixed-variant-light;
$color-tertiary: $color-tertiary-light;
$color-on-tertiary: $color-on-tertiary-light;
$color-tertiary-container: $color-tertiary-container-light;
$color-on-tertiary-container: $color-on-tertiary-container-light;
$color-tertiary-fixed: $color-tertiary-fixed-light;
$color-on-tertiary-fixed: $color-on-tertiary-fixed-light;
$color-tertiary-fixed-dim: $color-tertiary-fixed-dim-light;
$color-on-tertiary-fixed-variant: $color-on-tertiary-fixed-variant-light;
$color-error: $color-error-light;
$color-error-container: $color-error-container-light;
$color-on-error: $color-on-error-light;
$color-on-error-container: $color-on-error-container-light;
$color-background: $color-background-light;
$color-on-background: $color-on-background-light;
$color-outline: $color-outline-light;
$color-inverse-on-surface: $color-inverse-on-surface-light;
$color-inverse-surface: $color-inverse-surface-light;
$color-inverse-primary: $color-inverse-primary-light;
$color-shadow: $color-shadow-light;
$color-surface-tint: $color-surface-tint-light;
$color-outline-variant: $color-outline-variant-light;
$color-scrim: $color-scrim-light;
$color-surface: $color-surface-light;
$color-on-surface: $color-on-surface-light;
$color-surface-variant: $color-surface-variant-light;
$color-on-surface-variant: $color-on-surface-variant-light;
$color-surface-container-highest: $color-surface-container-highest-light;
$color-surface-container-high: $color-surface-container-high-light;
$color-surface-container: $color-surface-container-light;
$color-surface-container-low: $color-surface-container-low-light;
$color-surface-container-lowest: $color-surface-container-lowest-light;
$color-surface-dim: $color-surface-dim-light;
$color-surface-bright: $color-surface-bright-light;

/* Other Color */
$color-link-light: #0856cf;
$color-link-dark: #b2c5ff;
$color-link: $color-link-light;
$color-transparent: rgba(0, 0, 0, 0);

$elevation-level-0: 0%;
$elevation-level-1: 5%;
$elevation-level-2: 8%;
$elevation-level-3: 11%;
$elevation-level-4: 12%;
$elevation-level-5: 14%;

@function elevation($surface, $alpha) {
  @return mix($color-primary, $surface, $alpha);
}

$state-none: 0%;
$state-hover: 8%;
$state-focus: 12%;
$state-pressed: 12%;
$state-dragged: 16%;

@function state($state-layer, $container, $alpha) {
  @return mix($container, $state-layer, $alpha);
}
