@font-face {
  font-family: "Glow Sans J";
  src: url(/fonts/GlowSansJ/GlowSansJ-Normal-Regular-SS.woff2) format('woff2'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Regular-SS.woff) format('woff'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Regular-SS.otf) format('opentype');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Glow Sans J";
  src: url(/fonts/GlowSansJ/GlowSansJ-Normal-Medium-SS.woff2) format('woff2'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Medium-SS.woff) format('woff'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Medium-SS.otf) format('opentype');
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: "Firge";
  src: url(/fonts/Firge/Firge-Regular-SS.woff2) format('woff2'),
    url(/fonts/Firge/Firge-Regular-SS.woff) format('woff'),
    url(/fonts/Firge/Firge-Regular-SS.ttf) format('truetype');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Fira Math";
  src: url(/fonts/FiraMath/FiraMath-Regular.woff2) format('woff2'),
    url(/fonts/FiraMath/FiraMath-Regular.woff) format('woff'),
    url(/fonts/FiraMath/FiraMath-Regular.otf) format('opentype');
  font-weight: 400;
  font-display: fallback;
}
