@font-face {
  font-family: "Glow Sans J";
  src: url(/fonts/GlowSansJ/GlowSansJ-Normal-Regular-SS.woff2) format('woff2'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Regular-SS.woff) format('woff'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Regular-SS.otf) format('opentype');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Glow Sans J";
  src: url(/fonts/GlowSansJ/GlowSansJ-Normal-Medium-SS.woff2) format('woff2'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Medium-SS.woff) format('woff'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Medium-SS.otf) format('opentype');
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: "Firge";
  src: url(/fonts/Firge/Firge-Regular-SS.woff2) format('woff2'),
    url(/fonts/Firge/Firge-Regular-SS.woff) format('woff'),
    url(/fonts/Firge/Firge-Regular-SS.ttf) format('truetype');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Fira Math";
  src: url(/fonts/FiraMath/FiraMath-Regular.woff2) format('woff2'),
    url(/fonts/FiraMath/FiraMath-Regular.woff) format('woff'),
    url(/fonts/FiraMath/FiraMath-Regular.otf) format('opentype');
  font-weight: 400;
  font-display: fallback;
}

/* Font Family */
$font-family-sans-serif: "Glow Sans J", -apple-system, sans-serif;
$font-family-monospace: "Firge", monospace;
$font-family-math: "Fira Math", $font-family-sans-serif;

$font-body-large: 400 1.6rem/2.4rem $font-family-sans-serif;
$font-body-medium: 400 1.4rem/2.0rem $font-family-sans-serif;
$font-body-small: 400 1.2rem/1.6rem $font-family-sans-serif;
$font-headline-large: 400 2.8rem/3.6rem $font-family-sans-serif;
$font-headline-medium: 400 2.4rem/3.2rem $font-family-sans-serif;
$font-headline-small: 400 2.2rem/2.8rem $font-family-sans-serif;
$font-title-large: 400 2.2rem/2.8rem $font-family-sans-serif;
$font-title-medium: 500 1.6rem/2.4rem $font-family-sans-serif;
$font-title-small: 500 1.4rem/2.0rem $font-family-sans-serif;
$font-label-large: 500 1.4rem/2.0rem $font-family-sans-serif;
$font-label-medium: 500 1.2rem/1.6rem $font-family-sans-serif;
$font-label-small: 500 1.1rem/1.6rem $font-family-sans-serif;
