@font-face {
  font-family: "Glow Sans J";
  src: url(/fonts/GlowSansJ/GlowSansJ-Normal-Book-SS.woff2) format('woff2'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Book-SS.woff) format('woff'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Book-SS.otf) format('opentype');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Glow Sans J";
  src: url(/fonts/GlowSansJ/GlowSansJ-Normal-Medium-SS.woff2) format('woff2'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Medium-SS.woff) format('woff'),
    url(/fonts/GlowSansJ/GlowSansJ-Normal-Medium-SS.otf) format('opentype');
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: "Firge";
  src: url(/fonts/Firge/Firge-Regular-SS.woff2) format('woff2'),
    url(/fonts/Firge/Firge-Regular-SS.woff) format('woff'),
    url(/fonts/Firge/Firge-Regular-SS.ttf) format('truetype');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Fira Math";
  src: url(/fonts/FiraMath/FiraMath-Regular.woff2) format('woff2'),
    url(/fonts/FiraMath/FiraMath-Regular.woff) format('woff'),
    url(/fonts/FiraMath/FiraMath-Regular.otf) format('opentype');
  font-weight: 400;
  font-display: fallback;
}

/* Font Family */
$font-family-sans-serif: "Glow Sans J", -apple-system, sans-serif;
$font-family-monospace: "Firge", monospace;
$font-family-math: "Fira Math", $font-family-sans-serif;

.font-body-large {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.font-body-medium {
  font-size: 1.4rem;
  line-height: 2.0rem;
  font-weight: 400;
}

.font-body-small {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.font-headline-large {
  font-size: 2.8rem;
  line-height: 3.6rem;
  font-weight: 400;
}

.font-headline-medium {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 400;
}

.font-headline-small {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 400;
}

.font-title-large {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 400;
}

.font-title-medium {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
}

.font-title-small {
  font-size: 1.4rem;
  line-height: 2.0rem;
  font-weight: 500;
}

.font-label-large {
  font-size: 1.4rem;
  line-height: 2.0rem;
  font-weight: 500;
}

.font-label-medium {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
}

.font-label-small {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 500;
}
